/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: chivo;
    font-size: 32px;
}

.navbar-brand, .nav-link {
    color: black !important;
}

/* Jumbotron */
.jumbotron {
    background-image: url(background.png);
    background-size: cover;
    height: 500px;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron .display-2 {
    margin-top: 100px;
    font-weight: 400;
    font-family: shippori mincho;
}

.jumbotron .lead {
    font-size: 40px;
    font-weight: 400;
    font-family: chivo;
}

.foto {
    width: 900px;
    height: auto;
    margin-left: -50px;
}

.container-fluids {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 200px;
}

/* About Me */
.arput-aboutme-background {
    background-image: url(aboutme.png);
    background-size: cover;
    height: 1080px;
    position: relative;
    margin-top: -32px;
}

.arput-aboutme {
    background-color: whitesmoke;
    position: absolute;
    margin-top: -900px;
    padding: 40px;
}

.arput-aboutme-padding {
    padding-right: 10px;
    padding-left: 10px;
}

.arput-aboutme-heading {
    font-family: chivo;
    font-size: 20px;
    color: #5AFF80;
}

.arput-aboutme-text {
    font-family: shippori mincho;
    font-size: 20px;
}

.arput-aboutme-interest {
    margin-top: 30px;
    margin-left: 30px;
}

/* My Expertise */
.experience-top {
    margin-top: 100px;
}

.section padding {
    padding: 20px;
}

.section-tittle {
    position: relative;
}

.mb-45 {
    margin-bottom: 45px;
}

.section-tittle h2 {
    font-family: "Shippori Mincho",serif;
    font-size: 40px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
}

.experience {
    background: #01FF56;
    padding: 60px 65px 20px 65px;
    position: relative;
}

.experience {
    margin-bottom: 40px;
}

.experience::before {
    position: absolute;
    height: 27px;
    width: 27px;
    background: #fff;
    content: "";
    right: -15px;
    top: 80px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.experience h2 {
    font-family: shippori mincho;
    font-size: 20px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 37px
}

/* Utility */
.arput-tombol {
    font-family: chivo;
}

.arput-tombol-download {
    font-family: chivo;
    height: 60px;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: #01FF56;
}

.arput-center {
    text-align: center !important;
}

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link {
        margin-right: 32px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid green;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px !important;
        height: 900px;
    }

    .jumbotron .display-2 {
        margin-top: 200px;
        font-weight: 400;
    }

    .arput-tombol-hire {
      font-family: chivo;
        height: 60px;
        width: 180px;
        padding-top: 16px;
        background-color: #28a745;
    }

    .arput-tombol-download {
        font-family: chivo;
        height: 60px;
        width: 180px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-top: 16px;
        background-color: #01FF56;
    }

    .arput-aboutme {
        margin-top: -900px;
        padding: 100px;
    }

    .arput-aboutme-padding {
        padding-right: 200px;
        padding-left: 200px;
    }

    .arput-aboutme-heading {
        font-size: 20px;
    }

    .arput-aboutme-text {
        font-family: shippori mincho;
        font-size: 40px;
    }

    .experience h2 {
        font-size:30px
    }
}

